* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  background-color: #ff3b3c;
}

main {
  height: auto;
  padding-bottom: 8rem;
}

footer {
  position: relative;
  min-height: 368px;
}

.container {
  max-width: 1220px;
  width: 90%;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}

.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}

.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

/* Bloque de productos */
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em 6em;
  padding: 25px;
}

/* Card de producto */
.product-card {
  background-color: #f0f0f0;
  border-radius: 15px;
  width: 100%; /* Cambia el ancho según sea necesario */
  height: auto; /* Cambia la altura según sea necesario */
  transition: 0.2s all ease-out;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.04);
}

.product-img {
  width: 100%; /* Establece un ancho máximo para la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

.product-info {
  margin: 15px;
}

/* header section */

.logo {
  padding-right: 15px;
}

header .container {
  padding: 16px;
}

.search {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.search .form {
  position: relative;
  display: flex;
  justify-content: center;
}

.form .fa-solid {
  position: absolute;
  left: 18px;
  top: 17px;
  font-size: 15px;
  color: #767676;
}

.search .form input {
  height: 49px;
  border-radius: 14px;
  border: none;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 40px;
}

.search .form input:focus {
  outline: none;
  border: 2px solid #7800c8;
}

.search .social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.search .social ul li {
  padding: 12px 15px;
}

.search .social ul li a {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s all ease;
}

.social li a:hover {
  transform: scale(1.07);
}

.nav {
  padding-top: 12px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav ul li a {
  color: #fff;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

:root {
  --BottomOffset: -6px;
  --LineHeight: 6px;
  --LineColor: #7800c8;
}

.nav li a {
  position: relative;
  z-index: 1;
}

.nav ul li a:before {
  position: absolute;
  content: "";
  display: block;
  z-index: -1;
  background: var(--LineColor);
  width: 0;
  height: var(--LineHeight);
  bottom: var(--BottomOffset);
  border-radius: var(--LineHeight);
  left: 50%;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0, 1.9);
}

.nav ul li a:hover:before {
  width: calc(100% + var(--LineHeight));
  left: calc(var(--LineHeight) / -2);
}

/* hero section */

#hero {
  height: 44vh;
  background: url("../assets/bg-hero.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-container span {
  display: block;
  color: white;
  font-weight: 700;
}

.title-container span:first-child {
  font-size: 40px;
}

.title-container span:last-child {
  font-size: 100px;
  line-height: 80px;
}

/* footer section */

footer {
  position: relative;
  width: 100%;
  min-height: auto;
  padding: 20px 50px;
  background: #4e36ab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icons,
footer .footer-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icons li,
footer .footer-menu li {
  list-style: none;
}

footer .social-icons li a {
  font-size: 2em;
  cursor: pointer;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.2s;
}

footer .social-icons li a:hover {
  transform: translateY(-4px);
}

footer .footer-menu li a {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s;
}

footer .footer-menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave-min.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 7s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave-2 6s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 5s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave-2 4s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave-2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@media screen and (max-width: 820px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 2em 15em;
  }
}
